<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualisation page</title>
    {%load static%}
</head>
<body>

    <div id="out"></div>
    <div id="in"></div>
    <button id="btn">Get Last Point</button>
    <script type="text/javascript" src="{% static 'core/js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'core/js/visual.js' %}"></script>
</body>
</html>